# General
.DS_Store
.env
node_modules/
dump.rdb

# Python
__pycache__/
*.pyc
venv/
.venv/
env/

# Backend
backend/instance/
backend/celerybeat-schedule*
static/

# Frontend Build
frontend/dist/
frontend/dist-ssr/
frontend/coverage/

# Frontend Logs
frontend/logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Frontend Editor/Tools
frontend/*.local
frontend/.eslintcache
frontend/*.tsbuildinfo
frontend/.vscode/
!frontend/.vscode/extensions.json
frontend/.idea/
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?

# Frontend Testing
frontend/cypress/videos/
frontend/cypress/screenshots/
frontend/__screenshots__/

# Vite
frontend/*.timestamp-*-*.mjs

Project Report.pdf
